footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.redes-sociales a {
  color: #fff;
  margin-right: 150px;
}

.redes-sociales a:hover {
  color: #bbb;
}

.fab {
  font-size: 24px;
}